@using HostServer.Helper;
@using HostServer.Models;
@using ByteSizeLib;
@{
    ViewData["Title"] = "文件上传";
}

<h1 class="text-center">文件上传</h1>

<div class="mt-4 mb-4">
    <h4 class="text-center">上传文件链接</h4>
    <div class="mt-3">
        <div class="text-center">
            <a asp-controller="FileBrowser" asp-route-AccessKey="@HostConfiguration.UploadFileConfig!.AccessKey" class="btn btn-primary">上传文件目录</a>
        </div>
        <div class="mt-3 col-6 mx-auto">
            <div class="input-group ">
                <span class="input-group-text"><b>路径</b></span>
                @{
                    var uploadFilePath = PathHelper.UnifySlash(System.IO.Path.GetFullPath(HostConfiguration.UploadFileConfig.RootPath));
                }
                <input type="text" class="form-control" readonly id="path" value="@uploadFilePath">
                <button class="btn btn-primary" type="button" data-clipboard-text="@uploadFilePath">复制</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="mt-4 mb-3 col-6">
        <h4>文件上传</h4>
        <ul class="my-2">
            <li>一次能上传多个文件</li>
            <li>单次上传文件的大小限制为 @ByteSize.FromBytes(HostConfiguration.UploadFileConfig.FileSizeLimit)</li>
            <li>上传同名文件会覆盖原有文件</li>
        </ul>

        <form enctype="multipart/form-data" method="post">
            <div class="mb-3">
                <label for="uploadFiles" class="form-label">选择上传的文件</label>
                <div class="input-group">
                    <input name="uploadFiles" class="form-control" type="file" multiple id="uploadFiles" onchange="ChangeUploadFile()" />
                    <button id="uploadFileButton" class="btn btn-primary" type="submit" asp-action="UploadFile" disabled>开始上传</button>
                </div>
            </div>
        </form>
    </div>

    <div class="mt-4 mb-3 col-6">
        <h4>发送文字</h4>
        <ul>
            <li>直接上传文字，文字会被保存到文件中</li>
            <li>文件保存在 <b>[上传文件目录]/text</b> 目录中，文件名为发送时间</li>
        </ul>

        <form method="post" asp-controller="FileUpload" asp-action="UploadText">
            <div class="mb-3">
                <label for="uploadText" class="form-label">输入发送的文字</label>
                <textarea class="form-control mb-2" rows="3" id="uploadText" name="uploadText"></textarea>
                <button id="uploadTextButton" class="btn btn-primary" type="submit">开始上传</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/Validation.js"></script>
    <script src="~/js/Common.js"></script>
    <script>
        new ClipboardJS('.btn');
        let inputId = "uploadFiles";
        let buttonId = "uploadFileButton";
        ChangeUploadFile = () => {
            if (FileCountValidation(inputId) == false) {
                ChangeButtonState(buttonId, false);
                return;
            }
            if (FileSizeValidation(inputId, @HostConfiguration.UploadFileConfig.FileSizeLimit) == false) {
                ChangeButtonState(buttonId, false);
                let fileSizeLimit = "@ByteSize.FromBytes(HostConfiguration.UploadFileConfig.FileSizeLimit)";
                alert(`File is too Big, please select a file less than ${fileSizeLimit}`);
                return;
            }
            ChangeButtonState(buttonId, true);
        }
        CopyPath = () => {
            navigator.clipboard.writeText('@HostConfiguration.UploadFileConfig!.RootPath!.Replace("\\","\\\\")');
        }
    </script>
}
