@using HostServer.Extentions;
@using HostServer.Models;
@using HostServer.Helper;
@using ByteSizeLib;
@model FileBrowserUnit
@{
    ViewData["Title"] = "文件浏览";
}

@{
    List<string> urlList = new();
    if (!string.IsNullOrWhiteSpace(Model.RelativePath))
    {
        var path = PathHelper.UnifySlash(Model.RelativePath);
        var dirList = path.Split('/');

        for (int i = 0; i < dirList.Length; i++)
        {
            var url = new List<string>();
            for (int j = 0; j <= i; j++)
            {
                url.Add(dirList[j]);
            }
            urlList.Add(string.Join("/", url.ToArray()));
        }
    }
}

<style>
    a:hover {
        text-decoration: underline;
    }

    a {
        text-decoration: none;
    }
</style>

<div class="container m-3 p-3 border rounded" id="FileBrowser">
    <h3 class="m-3 mb-4 text-center">File Browser</h3>

    @*    <p class="fs-4">
    Path @Model.BasePath<br />
    RelativePath @Model.RelativePath
    </p>*@
    <div class="fs-4 my-3">
        Index of
        <span class="text-wrap" style="letter-spacing: -999px">
            <a asp-action="Index" class="me-0" style="letter-spacing: 0">/</a>
            @foreach (var url in urlList)
            {
                <a asp-action="Index" asp-route-relativePath="@url" class="mx-0" style="letter-spacing: 0">@url.Split('/').Last()/</a>
            }
        </span>
    </div>

    <a class="btn btn-primary" asp-action="Index">返回根目录</a>

    <div class="container mt-3">
        <div class="row text-center border-bottom">
            <div class="col-6 fw-bold">名称</div>
            <div class="col-2 fw-bold">修改日期</div>
            <div class="col-2 fw-bold">大小</div>
            <div class="col-2 fw-bold">操作</div>
        </div>

        @foreach (var dir in Model.DirectoryUnits)
        {
            <div class="row border-bottom">
                <div class="text-break p-1 col-6">
                    <a class="fw-bold" asp-route-relativePath="@string.Format($"{Model.RelativePath}{(string.IsNullOrEmpty(Model.RelativePath) ? "" : "/")}{dir.RelativePath}")">
                        @dir.RelativePath/
                    </a>
                </div>
                <div class="p-1 col-2">@dir.ModifyTime.ToString()</div>
                <div class="text-center p-1 col-2"></div>
                <div class="text-center p-1 col-2"></div>
            </div>
        }
        @foreach (var file in Model.FileUnits)
        {
            <div class="row border-bottom">
                <div class="text-break p-1 col-6">
                    <a asp-action="DownloadFile" asp-route-fileName="@string.Format($"{Model.RelativePath}{(string.IsNullOrEmpty(Model.RelativePath) ? "" : "/")}{file.Name}")">@file.Name</a>
                </div>
                <div class="p-1 col-2">@file.ModifyTime</div>
                <div class="text-center p-1 col-2">@file.Size</div>
                <div class="text-center p-1 col-2"></div>
            </div>
        }
    </div>
</div>